@model ActiveRecord.CheckOutWeb.Models.ContactInfo

<h2>@Model.Name</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:@Model.SupportEmail">@Model.SupportEmail</a><br />
    <strong>Marketing:</strong>   <a href="mailto:@Model.MarketingEmail">@Model.MarketingEmail</a><br />
</address>